@model IEnumerable<Sessao.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["Mensagem"] != null)
{
    <div>@TempData["Mensagem"]</div>
}

<p>
    @Html.ActionLink("Novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProdutoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ProdutoID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ProdutoID }) | 
            @Html.ActionLink("Adicionar ao carrinho", "Adicionar", "Carrinho", new { id = item.ProdutoID }, null)
        </td>
    </tr>
}

</table>
